<!DOCTYPE html>
<html>
<head>
  <title>twit - just say something</title>
  <style>
    * {
      box-sizing: border-box;
    }

    html, body {
      background: #05111c;
      color: #eee;
      margin: 0;
      font-family: 'Roboto', sans-serif;
    }

    body {
      padding-top: 75px;
    }

    textarea, input {
      font-family: 'Roboto', sans-serif;
      background: transparent;
      border: none;
      border-bottom: 2px solid #00fff5;
      color: white;
      display: block;
      width: 100%;
      padding: 10px;
    }

    textarea:focus,
    input:focus {
      background: rgba(255,255,255, .1);
      outline: none;
    }

    textarea {
      resize: vertical;
      height: 37px;
      min-height: 37px;
    }

    .site_header {
      align-items: center;
      justify-content: center;

      background: #091b2c;
      display: flex;
      position: fixed;
      height: 75px;
      top: 0;
      width: 100%;
    }

    .logo__name {
      color: #00fff5;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 40px;
    }

    .logo__sub {
      font-size: 12px;
      letter-spacing: 1px;
      text-align: center;
    }

    .tweep_form {
      border-bottom: 1px solid #fff3;
      padding: 2rem;
    }

    .tweep_form__inner {
      display: grid;
    }

    .inner {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 1rem;
    }

    .btn {
      background: #00fff5;
      padding: 10px 5px;
      max-width: 100px;
      margin-bottom: 0;
      color: rgba(0,0,0, .8);
      justify-self: end;
      cursor: pointer;
    }

    .cols {
      align-items: baseline;
      display: flex;
      gap: 25px;
      margin-bottom: 20px;
    }

    .tweeps {
      max-width: 800px;
      margin: auto;
    }

    .tweep {
      border-bottom: 1px solid #fff3;
      border-left: 1px solid #fff3;
      border-right: 1px solid #fff3;
      margin: 0 1rem;
    }

    .tweep__header {
      padding: 1rem 1rem 0;
      color: #00fff5;
    }

    .tweep__footer {
      background: rgba(255,255,255,.025);
      padding: .5rem 1rem;
      display: flex;
      justify-content: space-between;
      color: #fff6;
    }

    .tweep__body {
      font-size: 1.2rem;
      padding: 1rem;
    }

    .tweep:last-child {
      border-bottom: none;
    }

    .site_footer {
      border-top: 1px solid #fff3;
      font-size: 14px;
      padding: 1rem;
      text-align: right;
    }

    .site_footer a {
      color: white;
    }

    .like {
      text-decoration: none;
      color: white;
    }

    .like span {
      color: #00fff5;
    }

  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    {% verbatim %}
    <div id="app">
      <header class="site_header">
        <div class="logo">
          <div class="logo__name">Twit</div>
          <div class="logo__sub">say something</div>
        </div>
      </header>
      <form class="tweep_form" ref="form" >
        <div class="inner tweep_form__inner">
          <h2>Compose tweep</h2>
          <div class="cols">
            <input v-model="newTweepAuthor" class="tweep_form__name" type="text" placeholder="@twithandle" />
            <textarea maxlength="50" v-model="newTweepBody" class="tweep_form__name" placeholder="Type to the earth"></textarea>
          </div>
          <input class="btn tweep_form__submit" type="submit" value="Tweep" v-on:click="sendTweep" />
        </div>
      </form>
      <div v-if="tweeps.length" class="tweeps">
        <div class="tweep" v-for="(tweep, index) in tweepsComputed" :key="tweep.id">
          <header class="tweep__header">
            {{ author[index] }}
          </header>
          <main class="tweep__body">
            {{ body[index] }}
          </main>
          <footer class="tweep__footer">
            <span class="tweep__date">{{ date[index] }}</span>
            <a class="like" href="#"><span>like</span> {{ tweep.tweep_likes || 0 }}</a>
          </footer>
        </div>
      </div>
    </div>
    <footer class="site_footer">
      <div class="inner">Scott Nesham - <a href="mailto:sanesham@gmail.com">sanesham@gmail.com</a></div>
    </footer>
    {% endverbatim %}
    <script>
      var app = new Vue({
        el: '#app',
        methods: {
          sendTweep: function (e) {

            const data = {
              csrfmiddlewaretoken: "{{ csrf_token }}",
                tweep_author: this.newTweepAuthor,
                tweep_body: this.newTweepBody,
                tweep_date: new Date().toISOString(),
            }

            $.ajax({
                type: "POST",
                url: "/api/tweeps/",
                data,
                error: function(error) {
                  console.log(error)
                }
            })
          }

        },
        data: {
          tweeps: [],
          newTweepAuthor: '',
          newTweepBody: '',
        },
        computed: {
          tweepsComputed: function () {
            return this.tweeps.map(({attributes, ...rest}) => ({...attributes, ...rest}))
          },
          author: function () {
            return this.tweepsComputed.map(({tweep_author}) => tweep_author)
          },
          body: function () {
            return this.tweepsComputed.map(({tweep_body}) => tweep_body)
          },
          date: function () {
            return this.tweepsComputed.map(({tweep_date}) => tweep_date)
          },
          likes: function () {
            return this.tweepsComputed.map(({tweep_likes}) => tweep_likes)
          },
        },
        mounted: function () {
          var self = this;
          $.ajax({
            url: '/api/tweeps',
            method: 'GET',
            success: function ({data}) {
              self.tweeps = data
            },
            error: function (error) {
                console.log(error);
            }
          });
        }
      });
    </script>
</body>
</html>
